/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: rgb(178, 138, 218);
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  button {
    margin-top: 10px;
  }
  
  label {
    display: block;
    color: black; /* Placeholder yazı rengini siyah yapar */
    margin-top: 10px;
  }
  input::placeholder, textarea::placeholder {
    color: #888; /* Daha açık gri renkte yazılar */
    font-style: italic; /* Yazı stilini italik yapar */
  }

  .order-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #647628;
  }
  
  .loading-indicator {
    display: flex;
    align-items: center;
  }
  
  .spinner {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border: 3px solid #ccc;
    border-top: 3px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .process-order-button {
    padding: 5px 10px;
    background-color: #126dce;
    color: rgb(94, 72, 195);
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .process-order-button:hover {
    background-color: #0d5bae;
  }

  .approve-all-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .approve-all-button:hover {
    background-color: #218838;
  }
  